/*RESET*/
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #29B6F6;
  height: 8rem;
  width: 100%;
}

main {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  padding: 3rem 13rem;
  margin: 0;
}

/*SECTIONS*/

.sections {
  background-color: #455A64;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 2rem;
  width: 40rem;
  display: inline-block;
}

/*TIPOGRAFIAS*/

.font {
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  color: #455A64;
}

/*PROFILE*/
section#profile {
  box-sizing: border-box;
  height: 20rem;
}

/*SECTION OF THE FORM*/
section#section-of-the-form {
  box-sizing: border-box;
  position: relative;
  left: 10rem;
  top: -1.5rem;
  width: 60rem;
  font-family: 'Quicksand', sans-serif;
}

textarea {
  width: 56rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #29B6F6;
  border: none;
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-size: 12pt;
  margin-top: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
}


/*SECTION "NEW TWETT"*/
.new-tweet-width {
  background-color: #455A64;
  box-sizing: border-box;
  padding: 1rem;
  width: 80rem;
  border-radius: .5rem;
}

.container-tweet-text {
  width: 50rem;
  height: auto;
  word-wrap: break-word;
  background-color: white;
  border-radius: .3rem;
  padding: .5rem;
}

.position {
  margin: 2rem;
  position: relative;
  left: -2rem;
}
